<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArbaClick.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ArbaClick.Properties.Settings>
            <setting name="Money" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Increase" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Factor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoClick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TarakanPrice" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TarakanLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShcoolsPrice" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShcoolsLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fifty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FactorPrice" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FactorLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fifty2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Arbat7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnicPrice" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="UnicLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArmyPrice" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="ArmyLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YandexDPrice" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="YandexDLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RedPrice" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="RedLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KalyanPrice" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="KalyanLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HookahPrice" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="HookahLvl" serializeAs="String">
                <value>0</value>
            </setting>
        </ArbaClick.Properties.Settings>
    </userSettings>
</configuration>